<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SUGUMI-WEB</title>
    <link rel="icon" type="image/x-icon" href="/static/image/favicon.ico">
    <script src="{{ url_for('static', filename='jspreadsheet/jspreadsheet.js') }}"></script>
    <script src="{{ url_for('static', filename='jsuites/jsuites.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='jspreadsheet/jspreadsheet.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='jspreadsheet/jspreadsheet.themes.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='jsuites/jsuites.css') }}" type="text/css" />
</head>

<body style="background-color: #E6E6FA;margin: 0;">
    <div style="background-color: #333333;width: 100%;height: 50px;text-align: center;display: flex;justify-content: center;">
        <div style="align-self: center;font-size: 30px;color: orange">SUGUMI-WEB</div>
    </div>
    <div id='spreadsheet'></div>

    <script>
        // Create a new spreadsheet
        const worksheet = {
            nestedHeaders: [
                [
                    {
                        title: 'Supermarket information',
                        colspan: '4',
                    },
                ],
                [
                    {
                        title: 'Location',
                        colspan: '2',
                    },
                    {
                        title: ' Other Information',
                        colspan: '1'
                    },
                    {
                        title: ' Costs',
                        colspan: '1'
                    }
                ],
            ],
            data: [
                ['US', 'Wholemeal', 'Yes', '2019-02-12'],
                ['CA;US;GB', 'Breakfast', 'Yes', '2019-03-01'],
                ['CA;BR', 'Grains', 'No', '2018-11-10'],
                ['BR', 'Pasta', 'Yes', '2019-01-12'],
            ],
            columns: [
                { type: 'dropdown', title: 'Product Origin', source: ['No', 'Yes'] },
                { type: 'text', title: 'Description' },
                { type: 'dropdown', title: 'Stock', source: ['No', 'Yes'] },
                { type: 'calendar', title: 'Best before', format: 'DD/MM/YYYY' },
            ],
            allowDeleteColumn: false,
            allowRenameColumn: false,
            allowInsertRow: false,
            allowDeleteRow: false,
            allowComments: false,
            worksheetId: 'A',
            worksheetName: 'リソース',
            defaultColWidth: '300px',
            filters: false,
            footers: [
                ['US', 'Wholemeal', 'Yes', '2019-02-12'],
                ['CA;US;GB', 'Breakfast', 'Yes', '2019-03-01'],
                ['CA;BR', 'Grains', 'No', '2018-11-10'],
                ['BR', 'Pasta', 'Yes', '2019-01-12'],
            ],
            columnSorting: true,
            textOverflow: true,
            columnDrag: false,
            columnResize: false,
            rowDrag: false,
            rowResize: false,
            search: true,
        }
        const sheet = jspreadsheet(document.getElementById('spreadsheet'), {
            worksheets: [
                worksheet,
                {
                    minDimensions: [7, 7], data: [
                        ['US', 'Wholemeal', 'Yes', '2019-02-12'],
                        ['CA', 'Breakfast', 'Yes', '2019-03-01'],
                        ['BR', 'Grains', 'No', '2018-11-10'],
                        ['BR', 'Pasta', 'Yes', '2019-01-12'],
                    ],
                    search: true,
                    worksheetId: 'hoge',
                    worksheetName: 'ビュー',
                },
                {
                    minDimensions: [5, 5],
                    search: true,
                    worksheetId: 'fuga',
                    worksheetName: 'コントローラー',
                },
                {
                    minDimensions: [5, 5],
                    search: true,
                    worksheetId: 'fuga',
                    worksheetName: 'サービス',
                },
                {
                    minDimensions: [5, 5],
                    search: true,
                    worksheetId: 'fuga',
                    worksheetName: 'リポジトリ',
                },
            ],
            onchange: function (sheet, cell) {
                console.log('変更されたシートのデータ取得');
                console.log(sheet.getData());
                console.log(sheet);
            },
        });

        const getMethods = (obj) => {
            const getOwnMethods = (obj) =>
                Object.entries(Object.getOwnPropertyDescriptors(obj))
                    .filter(([name, { value }]) => typeof value === 'function' && name !== 'constructor')
                    .map(([name]) => name)
            const _getMethods = (o, methods) =>
                o === Object.prototype ? methods : _getMethods(Object.getPrototypeOf(o), methods.concat(getOwnMethods(o)))
            return _getMethods(obj, [])
        }

        for (var tmp of getMethods(sheet[0])) {
            //if (!tmp.startsWith('get') && !tmp.startsWith('set')) console.log(tmp);
        }
        for (var tmp of getMethods(sheet[0])) {
            //if (tmp.startsWith('get')) console.log(tmp);
        }
        for (var tmp of getMethods(sheet[0])) {
            //if (tmp.startsWith('set')) console.log(tmp);
        }
        // console.log(sheet[0].getConfig());
        // console.log('====================================');
        // console.log(sheet[0]);
        // sheet[0].hideRow(2);
    </script>
</body>

</html>
